<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">服务内容</h2>
                    <h3 class="section-subheading text-muted">我们专注于推动中国互联网+制造业的发展</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">互联网+制造业</h4>
                    <p class="text-muted">我们的手机、平板电脑、车、甚至房子里的一些家电-超过十亿的智能设备-都在依赖
						一个全球的网络连接。而历史的经验告诉我们，唯一可解决的途径，就是提高技术。然而，需一个可以连接所有人、
						所有设备的宽广的网络，来容纳更多的设备，迎接更多新的可能。</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">智能家居</h4>
                    <p class="text-muted">我们的手机、平板电脑、车、甚至房子里的一些家电-超过十亿的智能设备-都在依赖
						一个全球的网络连接。而历史的经验告诉我们，唯一可解决的途径，就是提高技术。然而，需一个可以连接所有人、
						所有设备的宽广的网络，来容纳更多的设备，迎接更多新的可能。</p>
               </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">物联网平台托管</h4>
                    <p class="text-muted">我们的手机、平板电脑、车、甚至房子里的一些家电-超过十亿的智能设备-都在依赖
						一个全球的网络连接。而历史的经验告诉我们，唯一可解决的途径，就是提高技术。然而，需一个可以连接所有人、
						所有设备的宽广的网络，来容纳更多的设备，迎接更多新的可能。</p>
                 </div>
            </div>
        </div>
    </section>